<!DOCTYPE html>
<html>
	<head>
		<title>SOLEDAD PASTORUTTI - DISCOGRAFÍA</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="agenda.html">Agenda</a></li>
				<li><a href="biografia.html">Biografia</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="discografia.html">Discografia</a></li>	
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<section>
		
<!--Tabla con Discografia-->	
			<table>
				<!-- Para especificar tiulos de las columnas-->
				<thead>
					<th></th>
					<th>Lista de Temas</th>
					<th>Integrantes</th>
					<th>Fecha de Lanzamiento</th>
					<th>Lista de Temas</th>
				</thead>
				<tr>
					<td>
						<img src="img/ponchoAlViento.jpg" alt="Poncho al Viento"/>
					</td>
					<td>
						<ol>
							<li>Salteñita de los valles</li>
							<li>Entre a mi pago sin golpear</li>
							<li>Por las costas entrerrianas</li>
							<li>El duende del bandoneón</li>
							<li>Pilchas gauchas</li>
							<li>Alma, corazón y vida</li>
							<li>Rosario de Santa Fe</li>
							<li>A don Ata</li>
							<li>A Gualeguaychú</li>
							<li>A mi Corrientes Porá</li>
							<li>Puerto Tirol</li>
							<li>Canción de las simples cosas</li>
						</ol>
					</td>
					<td>
						<ul>
							<li>Alberto Arauco (Segunda guitarra)</li>
							<li>Jorge Calcaterra (Primera guitarra)</li>
							<li>Héctor López (Bombo)</li>
							<li>Fernando Primero (Teclados, melódica, Técnico de grabación y dirección general)</li>
							<li>Invitada especial: Natalia Pastorutti</li>
							<li>Masterización: Edgardo Suárez</li>
							<li>Arte de Tapa: Carolina Sanantonín</li>
							<li>Fotos: Estudio Massa</li>
						</ul>
					</td>
					<td>
						<p>20 de Junio de 1996</p>
					</td>
					<td>
						<ul>
							<li>Grabación	El Cono del Silencio, Buenos Aires</li>
							<li>Género(s)	Folclore</li>
							<li>Formato	Disco compacto, Casette</li>
							<li>Duración	35:33</li>
							<li>Discográfica	Sony Music</li>
							<li>Productor(es)	Fernando Isella</li>
							<li>Certificación	Bandera de Argentina Diamond record icon.svg Disco de diamante</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<img src="img/laSole.jpg" alt="La Sole"/>
					</td>
					<td>
						<ol>
							<li>Que nadie sepa mi sufrir</li>
							<li>Las moras (A dúo con Natalia Pastorutti)</li>
							<li>Ando por la huella</li>
							<li>Del norte cordobés» (A dúo con Natalia Pastorutti)</li>
							<li>Enero</li>
							<li>Chilenito de Pucón</li>
							<li>Kilómetro 11</li>
							<li>La carta perdida</li>
							<li>Si de cantar se trata</li>
							<li>Mano a mano» (A dúo con Natalia Pastorutti)</li>
							<li>Punta Cayastá</li>
							<li>Achalay Tafí del Valle</li>
						</ol>
					</td>
					<td>
						<ul>
							<li>Alberto Arauco (Segunda guitarra)</li>
							<li>Jorge Calcaterra (Primera guitarra)</li>
							<li>Héctor López (Bombo)</li>
							<li>Fernando Primero (Teclados, melódica, Técnico de grabación y dirección general)</li>
							<li>Invitada especial: Natalia Pastorutti</li>
							<li>Masterización: Edgardo Suárez</li>
							<li>Arte de Tapa: Carolina Sanantonín</li>
							<li>Fotos: Estudio Massa</li>
						</ul>
					</td>
					<td>
						<p>21 de noviembre de 1997</p>
					</td>
					<td>
						<ul>
							<li>Grabación	1997</li>
							<li>Género(s)	Folclore</li>
							<li>Formato	Disco compacto, Casette</li>
							<li>Duración	33:15</li>
							<li>Discográfica	Sony Music</li>
							<li>Productor(es)	Fernando Isella</li>
							<li>Certificación	Bandera de Argentina Diamond record icon.svg Disco de diamante</li>
						</ul>
					</td>
				</tr>
			</table>
		
		</section>
		<aside>
		</aside>
		<footer>
		</footer>
	</body>
</html>