<!DOCTYPE html>
<html>
	<head>
		<title>SOLEDAD PASTORUTTI - VIDEOS</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="agenda.html">Agenda</a></li>
				<li><a href="biografia.html">Biografia</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="discografia.html">Discografia</a></li>	
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<section>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/1pewHDCWPE0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
			
		</section>
		<aside>
		</aside>
		<footer>
		</footer>
	</body>
</html>